<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>easyMeet</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" media="screen">
</head>
<body>
<div class="container">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Home</a>
      <a class="navbar-brand" href="/googlelogin">Google Login</a>
      <a class="navbar-brand" href="/logs">Logs</a>
      <a class="navbar-brand" href="/test">Test</a>
    </div>
  </div>
</nav>
{% block content %}
{% endblock %}
</div>
</body>
</html>