{% extends 'base.html' %}
{% block content %}
<h2>Google Login</h2>
<form method="POST" action="/googlelogin">
    <button class="btn" type="submit" name="login">Start</button>
</form>
<br>
<h2>Check Login</h2>
<form method="POST" action="/googlelogin">
    <button class="btn" type="submit" name="check">Check</button>
</form>
<br>
<h2>Only if captcha appeared</h2>
<form method="POST" action="/googlelogin">
	<input class="form-control" type="text" name="captcha" required>
    <button class="btn" type="submit">Send captcha</button>
</form>
<br>
<h2>Only if phone recovery appeared</h2>
<form method="POST" action="/googlelogin">
	<input class="form-control" type="text" name="phone_code" required>
    <button class="btn" type="submit">Send code</button>
</form>
{% endblock %}